{% load staticfiles %}
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better 
            mobile display -->
                
                <div class="navbar-header">
                    <button type="button" 
                        class="navbar-toggle collapsed" 
                        data-toggle="collapse" 
                        data-target="#bs-example-navbar-collapse-1" 
                        aria-expanded="false">
                        
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="img-responsive" 
                            src="{% static 'img/logo.jpg' %}" 
                            alt="logo">
                    </a>
                </div> <!-- navbar-header -->

                <!-- Collect the nav links, forms, 
                and other content for toggling -->
                <div class="collapse navbar-collapse" 
                    id="bs-example-navbar-collapse-1">
                    
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Principal</a></li>
                        <li><a href="/nosotros/">Nosotros</a></li>
                        <li><a href="#">Productos</a></li>
												<li class="dropdown">
													<a href="/farmacias/" class="dropdown-toggle"
																			data-toggle="dropdown" 
																			role="button" aria-haspopup="true" 
																			aria-expanded="false">Farmacias<span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li><a href="/farmacias/">Directorio de Farmacias</a></li>
														<li><a href="/farmacias/turnos/">Turnos</a></li>
													</ul>
        								</li>	
												<li><a href="/contacto/">Contacto</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
</div>
